---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Dashboard Page">
    <main>
        <div>dashboard</div>
        <form id="form">
            <label>
                <input name="username"/>
            </label>
            <button type="submit">submit</button>
        </form>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>

<script>
    const form = document.getElementById('form');
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form as HTMLFormElement);
        const username = formData.get('username');
        console.log(username);
        for (let value of formData.values()) {
            console.log(value);
        }
    });
</script>

