---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../reacts/pages/dashboard";
---

<Layout title="Dashboard Page">
    <main>
        <Dashboard client:load />
    </main>
</Layout>

<style>
    html, body, main {
        height: 100%;
    }
</style>


