---
import Layout from '../layouts/Layout.astro';
import Dashboard from "../reacts/pages/dashboard";
---

<Layout title="Dashboard Page">
    <main>
        <Dashboard client:load />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>

<script>
    import { request } from "@/utils";
    try {
        const data = await request({
            method: "GET",
            url: "/api/modules",
        });
        console.log(data);
    } catch (error) {
        window.location.href = "/login";
    }
</script>

