---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import Login from "@/reacts/pages/login";
---

<Layout title="Login Page">
    <main>
        <Login client:load/>
    </main>
</Layout>





