---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Dashboard Page">
    <main>
        <form>
            <input type="text">
            <input type="password">
        </form>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>

